package ${packageName}.${subPackageName}.mapper;

import ${packageName}.common.core.basics.IBaseMapper;
import ${packageName}.${subPackageName}.entity.${EntityName};
import org.apache.ibatis.annotations.Mapper;

#set($isAuthor = !$authorName.equals(""))
/**
 * ${functionName}Mapper
#if($isAuthor)
 * @author ${authorName}
#end
 */
@Mapper
public interface ${EntityName}Mapper extends IBaseMapper<${EntityName}> {
}
